.place-order {
  text-align: end;
  background-color: white;
  box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.1);
}

.place-order button {
  margin: 1rem 1rem;
  padding: 1rem;
  border: 0;
  outline: 0;
  background-color: var(--color-brand-orange);
  right: 30px;
  bottom: 20px;
  cursor: pointer;
  border-radius: 3px;
  width: 15rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}
