@import '../../assets/css/colors.css';

.cart-container {
  width: 1300px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 1.2rem;
  gap: 1.2rem;
  min-height: 100%;
}
